:root{
    --mainTextColor:#000;
    --secoundaryTextColor:rgb(51,51,51);
    --mainLinkColor:#0da2b8;
    --mainBorderColor:rgb(218,218,251);
    --mainBgColor:rgb(249,250,251);
}

[data-theme="dark"]{
    --mainTextColor:#fff;
    --secoundaryTextColor:#adb0b1;
    --mainLinkColor:rgb(30,190,214);
    --mainBorderColor:#2b3031;
    --mainBgColor:#131415;

}
*{
    font-family: 'Readex Pro';
    line-height: 1.5rem;
    box-sizing: border-box;
    color:var(--mainTextColor);
    
 
}
body{
    background-color: var(--mainBgColor);
}
#theme-switcher{
    position: fixed;
    right: 1em;
    top: 1em;
    display: flex;
    gap: 10px;
    cursor: pointer;
}


.theme{
    height: 30px;
    width: 30px;
    border:1px solid;
    border-radius: 100%;
    transition: 0.3s;

}
.theme:hover{
    height: 33px;
    width: 33px;
}
#theme-dark{
    background-color: #000;
}
#theme-light{
    background-color: #fff;

}
p,span,li{
    color:var(--secoundaryTextColor);
    font-size: 1em;
}
a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-size: 500;
}
li{
    line-height: 1.9em;
}
#container--main{
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}
.section--page{
    padding-top:1em;
    padding-bottom: 1em;
    text-align: left;

}
#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 2em;
}
#bio,a{
    font-weight: 300;
}
.user-name{
    font-size: 48px;
    line-height: 1em;
}
#profile-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#email{
    color:var(--mainTextColor);

}
#socials--list{ 
  display: flex;
  justify-content:flex-start 
  space-between;
  column-gap: 2em;
  flex-wrap: wrap;
}
#socials--list a{
    font-weight: 300;
    color: var(--secoundaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}
#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;

}
#Qualifications{
    list-style: none;
}
.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}
.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);

}
.card--project a{
    color: var(--mainTextColor);
    transition: 0.3s;
}
.card--project a:hover{
    color: rgb(30,190,214);
}
.card-work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}
#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
@media (max-width:600px){
    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 3em;
    }
    #wrapper-hero{
        display: flex;
        align-items: center;
        gap: 1em;
    }










}
